* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
button.action.primary {
  background: #444444;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
.main-container {
  width: 100%;
  padding: 10px;
  background: url(../images/bg-img.jpg);
}
.container{
  max-width: 1200px;
  margin: auto;
}


/*header css*/
.logo {
  text-align: center;
}
.logo img {
  display: block;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}
.actions-title {
  font-size: 20px;
  font-weight: bold;
  color: #459f0b;
}
.actions-title-section {
  display: flex;
  font-size: 12px;
  color: #909090;
  align-items: center;
}
.actions-title-section span {
  padding-left: 10px;
}
section.list-of-actions,
section.new-actions {
  padding: 20px 28px;
  margin-bottom: 10px;
  background: rgb(241,242,242);
  background: linear-gradient(0deg, rgba(241,242,242,1) 0%, rgba(216,217,218,1) 100%);
  border-radius: 5px;
}
section.list-of-actions {
  background: rgb(230,232,232);
  background: linear-gradient(0deg, rgba(230,232,232,1) 0%, rgba(245,246,246,1) 100%);
}
.actions-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.actions-header > div {
  max-width: 33.33%;
  flex: 0 0 33.33%;
}
.show-records {
  text-align: center;
}
.record-per-page {
  text-align: right;
}
.actions-box-main ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.actions-box-main ul li {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.box-title-wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.actions-box-wrap {
  background: #f8f8f8;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  padding: 10px;
}

.action-box-content {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 18px 0;
}
.box-content {
  max-width: 50%;
  flex: 0 0 50%;
  color: #383838;
  line-height: 18px;
}

.box-content span.text {
  color: #666666;
}
.box-title {
  font-size: 15px;
  color: #d2c216;
}
.box-title.completed {
  color: #459f0b;
}
.box-title.red {
  color: #9f0b15;
}


.actions-header .actions-pages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actions-pages .items {
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
  margin: 0;
}

.actions-pages .items .item {
  padding: 3px 6px;
  color: #555555;
}

.actions-pages .items .item.current {
  background: #459f0b;
  color: #ffffff;
}

.new-actions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-actions-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.actions-fields-left,
.actions-fields-right {
  max-width: 50%;
  flex: 0 0 50%;
}

.actions-right > * {
  margin: 0 10px;
}
a.show-hide {
  color: #000;
  text-decoration: none;
  position: relative;
  padding-right: 15px;
}
.actions-fields-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.actions-fields-left .input-field {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.actions-fields-left select {
  width: 100%;
}
.actions-fields-left input {
  max-width: 130px;
  border: 1px solid #7f9db9;
}

.actions-fields-left .input-field label.label,
.actions-fields-right .input-field label.label {
  min-width: 80px;
  display: inline-block;
}

.actions-fields-right .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.actions-fields-right .input-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.actions-fields-right .input-field input,
.actions-fields-right .input-field select {
  width: 100%;
}
.actions-fields-right .input-field:not(.select) {
  width: 44%;
}
.actions-fields-right .input-field.select .label {
  min-width: 25px;
}
.actions-fields-right .input-field.select {
  width: calc(28% - 20px);
  margin-left: 10px;
}

.new-action-submitBtn {
  text-align: right;
  padding-right: 20px;
}

a.show-hide:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/toggle.png) no-repeat right;
  right: 0;
  top: -3px;
}


/*waiting icon css*/
.waiting-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
}
.waiting-popup .waiting-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}


/*modal css*/
.custom-modal {
  background: rgb(0 0 0 / 0.4);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.modal-content {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.modal-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #459f0b;
}
.modal-content p {
  font-size: 16px;
  margin-top: 0px;
}
.modal-content button {
  margin-right: 5px;
}

.modal-content button:hover {
  opacity: 0.8;
  cursor: pointer;
}
section.thanks-message {
  padding: 30px 30px;
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
  background: rgb(241,242,242);
  background: linear-gradient(0deg, rgba(241,242,242,1) 0%, rgba(216,217,218,1) 100%);
  height: 100vh;
}


/*
media query
*/

@media screen and (max-width: 992px) {
  section.list-of-actions,
  section.new-actions {
    padding: 20px;
  }
  .actions-fields-left,
  .actions-fields-right {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  section.list-of-actions,
  section.new-actions {
    padding: 15px;
  }
  .actions-title {
    margin-bottom: 10px;
  }
  .actions-right > * {
    margin-left: 0;
  }
  .actions-header > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .actions-header .actions-title-section,
  .actions-header .actions-pages {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .show-records {
    text-align: left;
  }
  .actions-box-main ul li {
    width: 100%;
  }
  .new-actions-header {
    align-items: unset;
    flex-flow: column;
  }
}

@media screen and (max-width: 480px) {
  .actions-title-section {
    align-items: unset;
    flex-direction: column;
  }
  .actions-title-section span {
    padding: 0;
  }
  .box-content {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .actions-fields-left .input-field,
  .actions-fields-right .input-field {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
  .actions-fields-left input {
    width: 100%;
    max-width: none;
  }
  .actions-fields-right .input-field.select {
    margin-left: 0;
  }
  .actions-fields-right .input-field.select .label {
    min-width: 80px;
  }
}